/* 
  View Image Info Reborn
  Copyright 2021. Jefferson "jscher2000" Scher. License: MPL-2.0.
  Styles for new window/tab
  version 1.0 - MVP
  version 1.6 - Save As options
  version 1.6.1 - bug fixes
*/

body {
	--body-text-color: #000;
	color: var(--body-text-color);
	--body-back-color: #aaa;
	background-color: var(--body-back-color);
	margin: 0;
	padding: 8px 16px 0;
	--body-size: 12px;
	font-size: var(--body-size);
	overflow-y: scroll;
	font-family: sans-serif;
}

/* Color scheme */
@media (prefers-color-scheme: light) {
	body {
		--body-text-color: #000;
		--body-back-color: #f4f4f4;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		--body-text-color: #f4f4f4;
		--body-back-color: #333;
	}
}
/* Overrides from settings */
body[colorscheme="light"]{
	--body-text-color: #000;
	--body-back-color: #f4f4f4;
}
body[colorscheme="dark"]{
	--body-text-color: #f4f4f4;
	--body-back-color: #333;
}
@media print{
	body {
		--body-text-color: #000;
		--body-back-color: #fff;
		padding: 0;
	}
	#controls {
		display: none;
	}
}

#controls {
	position: absolute;
	right: 4px;
	top: 0;
}
#options, #btnprint, #showresize {
	-moz-appearance: none;
	padding: 1px 2px 3px 2px !important;
	border-radius: 4px;
	color: var(--body-text-color);
	background-color: transparent !important;
	border-color: transparent !important;
}
#options:hover, #options:focus,
#btnprint:hover, #btnprint:focus,
#showresize:hover, #showresize:focus {
	border-color: var(--body-text-color) !important;
}
#imageinfo {
	border: none;
	margin-top: 8px;
}
#imageinfo th, #imageinfo td {
	padding: 2px 8px 2px 0;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
#imgurl th, #imgurl td {
	font-weight: bold;
}
#previewpar {
	text-align: center; 
	border: 1px solid #888; 
	padding: 8px;
}
#preview {
	max-width: 100%;
}
#oops {
	display: none;
	color: highlightText;
	background-color: highlight;
	font-weight: bold;
	padding: 4px 12px;
}
#oops button {
	margin-left: 1em;
}
#popsizer {
	display: none;
	position: fixed;
	right: 8px;
	top: 8px;
	padding: 0 8px;
	width: 350px;
	background: var(--body-back-color);
	border: 1px solid var(--body-text-color);
	border-radius: 6px;
}
/* Save As... [v1.6] */
#saveandpreview {
	position: relative;
}
#btnsaveas {
	position: absolute;
	font-size: var(--body-size);
	top: calc((-2 * var(--body-size)) + 3px);
	right: 0;
}
#saveaslist {
	position: absolute;
	top: -2px;
	right: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: var(--body-back-color);
	border: 1px solid var(--body-text-color);
	border-bottom: none;
	display: none;
}
#saveaslist li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid var(--body-text-color);
}
#saveaslist li a {
	display: block;
	color: var(--body-text-color);
	text-decoration: none;
	padding: 6px 12px;
}
#saveaslist li a:hover {
	color: highlightText;
	background-color: highlight;
}
#saveaslist li a:active {
	color: highlight;
	background-color: highlightText;
}
#btnsaveas[state="closed"] > span::after {
	content: "▼";
	color: var(--body-text-color);
}
#btnsaveas[state="open"] > span::after {
	content: "▲";
	color: var(--body-text-color);
}
